<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myCRM.mapper.SetMapper">

	<select id="list" resultMap="Set">
		select 
		set_id,set_name,createby,createdate,updateby,updatedate,status,price,iscoupon,startfrom,expireto
		from t_set
	</select>
	
	<select id="listByPage" parameterType="java.util.Map" resultMap="Set">
		select 
		set_id,set_name,createby,createdate,updateby,updatedate,status,price,iscoupon,startfrom,expireto
		from t_set order by 
			<if test="sort == 'name'">
				set_name
			</if>
			<if test="sort != 'name'">
				${sort}
			</if>
		${dir} limit ${start},${length}
	</select>
	
	<select id="count" parameterType="java.util.Map" resultType="java.lang.Long">
		select count(*) from t_set
	</select>
	
	<select id="findSetById" parameterType="java.lang.Integer" resultMap="Set">
		select 
		set_id,set_name,createby,createdate,updateby,updatedate,status,price,iscoupon,startfrom,expireto
		from t_set where set_id=#{setId}
	</select>
	
	<insert id="add" parameterType="com.myCRM.po.Set">
		insert into t_set (set_name,createby,createdate,updateby,updatedate,
		status,iscoupon,price,startfrom,expireto)values
		(#{name,jdbcType=VARCHAR},
		 #{createBy,jdbcType=VARCHAR},
		 #{createDate},
		 #{updateBy,jdbcType=VARCHAR},
		 #{updateDate},
		 #{status,jdbcType=INTEGER},
		 #{iscoupon,jdbcType=INTEGER},
		 #{price,jdbcType=DOUBLE},
		 #{startFrom,jdbcType=DATE},
		 #{expireTo,jdbcType=DATE}
		)
	</insert>
	
	<insert id="addMiddle" parameterType="java.lang.Integer">
		insert into t_set_middle (set_id,service_id)values
		(#{param1},
		 #{param2}
		)
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from t_set where set_id=#{setId}
	</delete>
	
	<update id="update" parameterType="com.myCRM.po.Set">
		update t_set 
		<set>
			<if test="name!=null">
				set_name = #{name},
			</if>
			<if test="updateBy!=null">
				updateby = #{updateBy},
			</if>
			<if test="updateDate!=null">
				updatedate = #{updateDate},
			</if>
			<if test="status!=null">
				status = #{status},
			</if>
			<if test="iscoupon!=null">
				iscoupon = #{iscoupon},
			</if>
			<if test="price!=null">
				price = #{price},
			</if>
			<if test="startFrom!=null">
				startfrom = #{startFrom},
			</if>
			<if test="expireTo!=null">
				expireto = #{expireTo},
			</if>
		</set>
		where set_id=#{setId}
	</update>
	
	<resultMap type="com.myCRM.po.Set" id="Set">
		<id property="setId" column="set_id"/>
		<result property="name" column="set_name"/>
		<result property="createBy" column="createby"/>
		<result property="createDate" column="createdate"/>
		<result property="updateBy" column="updateby"/>
		<result property="updateDate" column="updatedate"/>
		<result property="status" column="status"/>
		<result property="iscoupon" column="iscoupon"/>
		<result property="price" column="price"/>
		<result property="startFrom" column="startfrom"/>
		<result property="expireTo" column="expireto"/>
	</resultMap>
</mapper>